{% extends "base.html" %}

{% block body_content %}
<table class ="table table-hover">
    <tr>
        <thead class="list-header thead-dark">
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Details</th>
            <th>Update</th>
            <th>Delete</th>
        </thead>
    </tr>
    {% if fruits %}
        {% for fruit in fruits %}
        <tr class= "fruit-row">    
            <td>{{ fruit.name }}</td>
            <td>{{ fruit.description }} </td>
            <td>${{ fruit.price }} </td>
            <td><a href="{% url 'fruit_detail' fruit.id %}"><button class="btn btn-info">Details</button></a> </td>
            <td><a href="{% url 'fruit_update' fruit.id %}"><button class = "btn btn-warning">Update</button></a></td>
            <td><a href="{% url 'fruit_delete' fruit.id %}"><button class = "btn btn-danger">Delete</button></a></td>
        </tr>    
        {% endfor %}
    {% else %}
        <tr class="fruit-row">
            <td>No fruit to display</td>
        </tr>
    {% endif %}
    
</table>

<div class="list-view-footer navbar navbar-dark bg-dark" style= "position: absolute !important; position: -webkit-absolute !important; bottom: 0; width: 100%;">
  <a class = "navbar-brand" href="{% url 'fruit_create' %}"><button class="btn btn-primary">Add Fruit</button></a>
</div>


{% endblock body_content %}
